In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Read in the energy dataset
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Hamoye-Internship/Stage-B/energydata_complete.csv")

In [ ]:
# check the first 5 rows
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

**Fetch the Columns**

In [ ]:
#Fetch the columns and parse it to a list function
cols = list(data.columns)
print(cols)

['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2']

**Check for Missing Values**

In [ ]:
#No Missing Data
data.isnull().sum()

**Check correlation of each variable**

In [ ]:
plt.figure(figsize=(20,20))
sns.heatmap(data.corr(),cbar=True,annot=True,cmap='Reds')

### **Question 12**

In [ ]:
X = np.array(data['T2']).reshape(-1, 1) #Set the column 'T2' to independent feature X and reshape
y = data['T6'] #Set the column 'T6' to the dependent output

In [ ]:
#Import the LinearRegression module
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression() #Create an object of the LinearRegression class

In [ ]:
linear_model.fit(X, y) #Fit a Linear regression Model to the data

LinearRegression()

In [ ]:
pred = linear_model.predict(X) #Make predictions on the independent feature X

In [ ]:
from sklearn.metrics import r2_score #Import R-Squared metrics for evaluation

r_square = r2_score(y, pred) #Perform the evaluation on the predicted values

print(r_square)#Print the output of the evaluation

0.6418990830855493

### **Data Preparation and model training for Question 13 - 16**

In [ ]:
new_data = data.drop(['date', 'lights'],axis = 1) #Create a new dataset without the 'date' and 'lights' columns

In [ ]:
#Import the MinMaxScalar module for data normalization

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

normalized_data = pd.DataFrame(scaler.fit_transform(new_data), columns=new_data.columns) # Normalize the Dataset

In [ ]:
x_data = normalized_data.drop('Appliances', axis = 1) #Create features X by droping the 'Appliances' column

y_data = normalized_data['Appliances'] #Create the output y by selecting the 'Appliances' column

In [ ]:
# Split the dataset into training and test set at a ratio of 70/30

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.3, random_state = 42)

In [ ]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression() #Create a new object of linearRegression()

In [ ]:
linear_model.fit(x_train, y_train) #Fit the model to the training set

LinearRegression()

In [ ]:
pred_val = linear_model.predict(x_test) #Make predictions on the test set

### **Question 13**

In [ ]:
#Calculate the Mean Absolute Error and print the output to 2 decimal places

from sklearn.metrics import mean_absolute_error

error = mean_absolute_error(pred_val, y_test)

print(round(error, 2))

0.05

### **Question 14**

In [ ]:
#Calculate the Residual Sum of Squere and print the output to 2 decimal places
rss = np.sum(np.square((y_test - pred_val)))
print(round(rss, 2))

45.35

### **Question 15**

In [ ]:
#Calculate the Root MEan Squared error and print the output to 3 decimal places
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, pred_val)

print(round(np.sqrt(mse), 3))

0.088

### **Question 16**

In [ ]:
#Calculate the Coefficient of determination (R-Square) and print the output to 2 decimal places
from sklearn.metrics import r2_score

r_square = r2_score(y_test, pred_val)

print(round(r_square, 2))

0.15

### **Question 17**

In [ ]:
# Create a function to Obtain feature weight

def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()#Sort the values in the pandas series
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df #this function returns the weight of every feature

In [ ]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight') #Call the get_weights_df()

In [ ]:
linear_model_weights #Print the feature weights and select the largest and lowest which are RH_1 and RH_2 respectively

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

### **Question 18**

In [ ]:
# Train a ridge regressor and compare the RMSE with the normal linear regression model

from sklearn.linear_model import Ridge #Import Ridge model

ridge_reg = Ridge(alpha = 0.4) #Create an object of the Ridge class
ridge_reg.fit(x_train, y_train)#Fit the Ridge regression to the train dataset

Ridge(alpha=0.4)

In [ ]:
ridge_pred = ridge_reg.predict(x_test) #Make prediction on the test set

In [ ]:
#Calculate RMSE of the Ridge Regression prediction
ridge_mse = mean_squared_error(y_test, ridge_pred)

print(round(np.sqrt(ridge_mse), 3))

#It's the same for the LinearRegression model

0.088

### **Question 19**

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it.

In [ ]:
from sklearn.linear_model import Lasso #Import Lasso Regression
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train) #Fit the Lasso regression to the training dataset

Lasso(alpha=0.001)

In [ ]:
lasso_pred = lasso_reg.predict(x_test) #Make prediction on the test set

In [ ]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight') #Create a feature wieght for the Lasso Regression
lasso_weights_df

# There are only 4 Non-Zero weights (RH_out,RH_8, Windspeed, RH_1)

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

### **Question 20**

What is the new RMSE with the lasso regression? (in three (3) decimal places)

In [ ]:
lasso_mse = mean_squared_error(y_test, lasso_pred)

print(round(np.sqrt(lasso_mse), 3))

0.094